body {
  font-size: 14px;
  letter-spacing: 0.28px;
  color: getColors("text-color");
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  color: getColors("title-color");
}

.container {
  min-width: 320px;
  max-width: 767px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

h1, h2, h3, h4, h5, h6, ul, p, button {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.footer-networks__link, .clients-list__link, .clients-list, .networks-list__link, .networks-list, .ourteam-list, .ourteam__title, .keystroke-box__title, .occupation__title, .instruction-list, .contacts-list__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ourteam-list__item {
  display: block;
  flex-wrap: wrap;
  text-align: center;
}

.occupation-list, .header > .container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.footer-send__btn, .footer-networks {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.mainstream {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  border-bottom: 1px solid #ECECEC;
  margin: 0 auto;
}
@media screen and (min-width: 768px) {
  .header {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    max-width: 1200px;
  }
}
.header > .container {
  padding: 24px 15px 25px;
  margin: 0 auto;
}

.logo {
  font-family: 'Raleway', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-align: center;
  color: #2196F3;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 26px;
  }
}

.header__web--studio {
  color: black;
}

a {
  color: #212121;
  line-height: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a:hover {
  color: #2196F3;
}

.nav {
  display: none;
}
@media (min-width: 768px) {
  .nav {
    display: flex;
  }
}

.nav-list {
  display: flex;
  gap: 55px;
}

.nav-list__link {
  font-family: 'Roboto', sans-serif;
  line-height: 1.62;
  font-weight: 500;
  position: relative;
}
.nav-list__link::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  top: 46px;
  left: 0;
  transition: width 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover {
  color: #2196F3;
}
.nav-list__link:hover::after {
  width: 100%;
}
.nav-list__link--current {
  width: 0;
}
.nav-list__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  position: absolute;
  top: 53px;
  left: 0;
}
@media (min-width: 1200px) {
  .nav-list__link--current::after {
    top: 46px;
  }
}

.contacts-list {
  display: none;
}
@media (min-width: 768px) {
  .contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
@media (min-width: 1200px) {
  .contacts-list {
    flex-direction: row;
    gap: 55px;
  }
}
.contacts-list__link {
  color: #757575;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.02em;
  text-align: center;
  gap: 10px;
}
.contacts-list__link:hover .contacts-list__svg {
  fill: #2196F3;
}
.contacts-list__svg {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #212121;
}

.mainstream {
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img.webstudio/overlay-mobile.jpg");
  max-height: 400px;
  width: 100%;
  padding: 118px 0;
}
@media (min-width: 768px) {
  .mainstream {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img.webstudio/overlay.jpg");
  }
}
@media (min-width: 1200px) {
  .mainstream {
    max-height: 600px;
    padding: 200px 0;
  }
}
.mainstream__caption {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 30px;
}
@media (min-width: 1200px) {
  .mainstream__caption {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
  }
}
.mainstream__button {
  background-color: #2196F3;
  color: white;
  width: 216px;
  height: 50px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06px;
  text-align: center;
  border: none;
  border-radius: 4px;
  padding: 10px 24px;
  display: block;
  margin: 0 auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
@media (min-width: 1200px) {
  .mainstream__button {
    padding: 10px 32px;
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 4;
  opacity: 1;
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  background-color: white;
  padding: 40px;
  z-index: 5;
}
.modal__title {
  text-align: center;
  color: #212121;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
}
.modal__btn-send {
  display: block;
  width: 200px;
  height: 50px;
  border: none;
  margin: 0 auto;
  cursor: pointer;
  color: white;
  background-color: #2196F3;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}
.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.modal-list__label {
  position: relative;
  letter-spacing: 0.01em;
  font-size: 12px;
  padding-right: 7px;
}
.modal-list__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  padding: 12px 20px 12px 42px;
  margin-top: 4px;
  outline: none;
  cursor: pointer;
}
.modal-list__svg {
  position: absolute;
  left: 12px;
  top: 31px;
  width: 15px;
  height: 15px;
}
.modal-list__label:hover {
  border-color: #2196F3;
}
.modal-list__input:hover + .modal-list__svg {
  fill: #2196F3;
}
.modal-list__textarea {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-top: 4px;
  outline: none;
  cursor: pointer;
}
.modal-list__checkbox {
  width: 16px;
  height: 15px;
  cursor: pointer;
}
.modal-list__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}
.modal-list__link {
  color: #2196F3;
  text-decoration: underline;
}
.modal-list__svg-close {
  fill: black;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 6px;
  right: 6px;
}
.modal-list__svg-close:hover {
  fill: #2196F3;
}

.instruction > .container {
  padding: 94px 15px 0;
}

.instruction-list {
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.instruction-list__item {
  flex: 1 1 100%;
}
@media (min-width: 768px) {
  .instruction-list__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media (min-width: 1200px) {
  .instruction-list__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}
.instruction-list__title {
  margin: 30px 0 10px;
  color: #212121;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
}
@media (min-width: 768px) {
  .instruction-list__title {
    text-align: left;
  }
}
.instruction-list__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
.instruction-list__item::before {
  content: "";
  display: block;
  background-color: #F5F4FA;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  height: 120px;
}
.instruction-list__item:nth-child(1)::before {
  background-image: url("../img.webstudio/antenna.svg");
}
.instruction-list__item:nth-child(2)::before {
  background-image: url("../img.webstudio/clock.svg");
}
.instruction-list__item:nth-child(3)::before {
  background-image: url("../img.webstudio/diagram.svg");
}
.instruction-list__item:nth-child(4)::before {
  background-image: url("../img.webstudio/astronaut.svg");
}

.occupation > .container {
  padding: 94px 15px;
}

.occupation {
  display: none;
}
@media (min-width: 1200px) {
  .occupation {
    display: flex;
  }
}

.occupation__title {
  padding-bottom: 50px;
  font-size: 36px;
}

.occupation-list {
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.keystroke-box {
  position: relative;
}
.keystroke-box__img {
  width: 370px;
  height: 294px;
  background-color: lightgray;
}
.keystroke-box__title {
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  color: white;
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
}

.ourteam {
  font-size: 16px;
  background-color: #F5F4FA;
}
.ourteam > .container {
  padding: 94px 15px;
}
.ourteam__title {
  font-size: 28px;
  padding: 0 0 50px;
}
@media (min-width: 1200px) {
  .ourteam__title {
    font-size: 36px;
  }
}

.ourteam-list {
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 30px;
}
.ourteam-list__item {
  background-color: white;
  padding-bottom: 30px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.ourteam-list__img {
  max-width: 450px;
  height: 460px;
  background-color: lightgray;
}
@media (min-width: 768px) {
  .ourteam-list__img {
    max-width: 354px;
    height: 374px;
  }
}
@media (min-width: 1200px) {
  .ourteam-list__img {
    max-width: 270px;
    height: 260px;
  }
}
.ourteam-list__name {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  margin: 30px 0 10px 0;
}
.ourteam-list__text {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-align: center;
  margin-bottom: 16px;
}

.networks-list {
  gap: 10px;
}
.networks-list__link {
  width: 44px;
  height: 44px;
}
.networks-list__link:hover {
  background-color: #2196F3;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks-list__svg {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}
.networks-list__link:hover .networks-list__svg {
  fill: white;
}

.clients > .container {
  padding: 94px 15px;
}
.clients__title {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-align: center;
  padding: 0 0 50px;
}
@media (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
  }
}

.clients-list {
  gap: 30px;
}
.clients-list__link {
  width: 210px;
  height: 92px;
  border: 1px #AFB1B8 solid;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .clients-list__link {
    max-width: 226px;
  }
}
@media (min-width: 1200px) {
  .clients-list__link {
    max-width: 170px;
  }
}
.clients-list__svg {
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list__link:hover {
  border: 1px #2196F3 solid;
}
.clients-list__link:hover .clients-list__svg {
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
  color: white;
  display: block;
  width: 100%;
  line-height: 1.71;
  padding: 60px 0;
}
.footer .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .footer .container {
    flex-direction: row;
  }
}

.footer-addresses {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer-addresses {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .footer-addresses {
    text-align: left;
  }
}
.footer-addresses__web--studio {
  color: white;
}

.footer-contacts__communications {
  color: #757575;
}
.footer-contacts__text {
  margin-top: 20px;
}
.footer-contacts__item:nth-child(2) {
  margin: 9px 0;
}

.footer-connect__title,
.footer-subscribe__title {
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin: 60px 0px 20px;
}
@media (min-width: 768px) {
  .footer-connect__title,
  .footer-subscribe__title {
    margin: 13px 0px 20px;
  }
}
.footer-connect {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer-connect {
    margin: 0;
  }
}
.footer-networks {
  gap: 10px;
}
.footer-networks__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}
.footer-networks__link:hover {
  background-color: #2196F3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-networks__svg {
  width: 20px;
  height: 20px;
  fill: white;
}
.footer-networks__link:hover .footer-networks__svg {
  fill: white;
}
.footer-networks .footer-subscribe {
  width: 570px;
}

.footer-send {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .footer-send {
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .footer-send {
    text-align: right;
    flex-direction: row;
  }
}
.footer-send__input {
  width: 358px;
  height: 50px;
  padding: 15px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}
.footer-send__btn {
  width: 200px;
  height: 50px;
  padding: 13px 28px;
  background-color: #2196F3;
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.footer-send__svg {
  width: 24px;
  height: 24px;
  fill: white;
  position: absolute;
  top: 13px;
  right: 28px;
}/*# sourceMappingURL=main.css.map */