:root{
    --blue-color:#2196F3;
    --black-color:black;
    --white-color:white;
    --title-color:#212121;
    --text-color:#757575;
    --background-color:#2F303A;
}
body{
    font-size: 14px;
    letter-spacing: 0.28px;
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2, h3, h4, ul, p, button{
    padding: 0;
    margin: 0;
}
/* Header-------------------------------------------------------------- */
.header{
    padding: 24px 15px 25px;
    width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.web{
    color: var(--blue-color);
    font-family: 'Raleway',serif;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.header-studio{
    color: var(--black-color);
    font-family: 'Raleway', serif;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
} 
.navigation{
    font-family: 'Roboto', sans-serif;
    line-height: 1.62;
    font-weight: 500;
}
.nav-list{
    display: flex;
    gap: 55px;
}
.header-list{
    display: flex;
    gap: 55px;
}
a{
    text-decoration: none;
    color: var(--title-color);
    line-height: normal;
}
a:hover{
    color: var(--blue-color);
}
.contacts-header{
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    line-height: normal;
    font-weight: 700;
}
/* Main------------------------------------------------------------ */
ul {
    list-style-type: none;
  }
  h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
  }
  .what-we-do{
    margin: 94px 0 188px;
  }
.what-we-do-title{
    margin-bottom: 50px;
    font-size: 36px;  
    text-align: center;
}
.list-what-we-do{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: space-between;
}
.main-background{
    background-color:var(--background-color);
    width: 100%;
    height: 600px;
    padding: 200px 0;
    margin: 0 auto 94px;
}
#caption{
    color: var(--white-color);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    padding-bottom: 30px;
}
#button{ 
    background-color: var(--blue-color);
    color: var(--white-color);
    width: 216px;
    height: 50px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.87;
    letter-spacing: 0.96px;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.main-border{
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}
.list-box-instruction{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}
.img-normal{
    width: 370px;
    height: 294px;
}
.img-small{
    width: 270px;
    height: 260px;
}
.instruction{
    width: 1200px;
}
.box-instruction{
    display: block;
    flex-wrap: wrap;
    width: 270px;
}
.title-instruction{
    margin-bottom: 10px;
}
.ourteam-title{
    font-size: 36px;  
    text-align: center;
}
.list-ourteam-box{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: space-between;
    margin: 50px 0 124px;
}
.ourteam-box{
    display: block;
    flex-wrap: wrap;
    text-align: center;
    width: 270px;
}
.title-ourteam{
    margin: 30px 0 10px 0;
}
.title-instruction, .title-ourteam{
    color: var(--title-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;

}
.text-instruction, .text-ourteam{
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
h2{
    color: var(--title-color);
}
.ourteam{
    font-size: 16px;
}
/* Footer-------------------------------------------------------------- */
footer {
    padding: 0 150px;
    background-color:var(--background-color);
    color: white;
    display: block;
    height: 252px;
    left: 0;
    position: absolute;
    width: 100%;
}
.footer-studio{
    color: var(--white-color);
    font-family: 'Raleway', serif;
    line-height: normal;
}
.contacts-footer{
    color: var(--text-color);
    line-height: 1.71;
}
.address-footer{
    line-height: 1.71;
}
.container-footer{
    margin: 60px 0 60px 200px;
}