.clients {
  & > .container {
    padding: 94px 15px;
  }
  &__title {
    color: getColors("title-color");
    font-family: getFonts("font-roboto");
    @include text(28px, 700, normal, 0.42px, center);
    padding: 0 0 50px;
    @media (min-width: 1200px) {
      font-size: 36px;
    }
  }
}
.clients-list {
  @extend %flex-center;
  gap: 30px;
  &__link {
    @extend %flex-center;
    width: 210px;
    height: 92px;
    border: 1px getColors("svg-color") solid;
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    @media (min-width: 768px) {
      max-width: 226px;
    }
    @media (min-width: 1200px) {
      max-width: 170px;
    }
  }
  &__svg {
    fill: getColors("svg-color");
    width: 106px;
    height: 60px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__link:hover {
    border: 1px getColors("blue-color") solid;
  }
  &__link:hover &__svg {
    fill: getColors("blue-color");
  }
}
