footer {
    background-color: var(--background-color);
    color: var(--white-color);
    display: block;
    width: 100%;
    line-height: 1.71;
    padding: 60px 0;
}
.footer .container {
    display: flex;
}
.footer__web{
    color: var(--blue-color);
    font-family: 'Raleway',serif;
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.footer__studio{
    color: var(--white-color);
} 
.footer__contacts {
    color: var(--text-color);
}
.footer__list {
    margin-top: 20px;
    margin-right: 70px;
}
.footer__address{
    margin-top: 20px;
}
.footer__item:nth-child(2) {
    margin: 9px 0;
}
.join-in, .subscribe {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.footer__list--center{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.footer__section--left{
    width: 300px;
}
.footer__section--center {
    width: 300px;
}
.join-in__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--svg-footer);
    border-radius: 50%;
}
.join-in__link:hover{
    background-color: var(--blue-color);
    transition: background-color 250ms var(--cubic-bezier);
}
.join-in__svg{
    width: 20px;
    height: 20px;
    fill: var(--white-color);
}
.join-in__link:hover .join-in__svg{
    fill: var(--white-color);
}
.footer__section--right {
    width: 570px;
}
.footer__list--right{
    display: flex;
    gap: 12px;
}
.subscribe__input{
    width: 358px;
    height: 50px;
    padding: 15px;
    background-color: transparent;
    color:rgba(255, 255, 255, 0.6) ;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.subscribe__btn{
    width: 200px;
    display: flex;
    justify-content: flex-start;
    height: 50px;
    padding: 13px 28px;
    background-color: var(--blue-color);
    border: none;
    border-radius: 4px;
    color: var(--white-color);
    box-shadow: 0 4px 4px 0 var(--shadow-back);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    position: relative;
    cursor: pointer;
}
.subcribe__svg{
    width: 24px;
    height: 24px;
    fill: var(--white-color);
    position: absolute;
    top: 13px;
    right: 28px;
}