.header {
  border-bottom: 1px solid getColors("header-line");
  & > .container {
    padding: 24px 15px 25px;
    margin: 0 auto;
    @extend %flex-space-between;
  }
}
.logo {
  font-family: getFonts("font-raleway");
  @include text(26px, 700, normal, 0.78px, center);
  color: getColors("blue-color");
}
.header__web--studio {
  color: getColors("black-color");
}
a {
  color: getColors("title-color");
  line-height: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover {
  color: getColors("blue-color");
}
.nav-list {
  display: flex;
  gap: 55px;
}
.nav-list__link {
  font-family: getFonts("font-roboto");
  line-height: 1.62;
  font-weight: 500;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    border-radius: 2px;
    background-color: getColors("blue-color");
    position: absolute;
    top: 46px;
    left: 0;
    transition: width 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover {
    color: getColors("blue-color");
  }
  &:hover::after {
    width: 100%;
  }
  &--current {
    width: 0;
  }
  &--current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: getColors("blue-color");
    position: absolute;
    top: 46px;
    left: 0;
  }
}
.contacts-list {
  display: flex;
  gap: 55px;
  &__link {
    color: getColors("text-color");
    font-family: getFonts("font-roboto");
    @include text(14px, 500, normal, 0.02em, center);
    gap: 10px;
    @extend %flex-center;

  }
  &__link:hover &__svg {
    fill: getColors("blue-color");
  }
  &__svg {
    fill: getColors("text-color");
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
