.header {
  border-bottom: 1px solid getColors("header-line");
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
  & > .container {
    padding: 24px 15px 25px;
    margin: 0 auto;
    @extend %flex-space-between;
  }
}
.logo {
  font-family: getFonts("font-raleway");
  @include text(24px, 700, normal, 0.78px, center);
  color: getColors("blue-color");
  @media screen and (min-width: 768px) {
    font-size: 26px;
  }
}
.header__web--studio {
  color: getColors("black-color");
}
a {
  color: getColors("title-color");
  line-height: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a:hover {
  color: getColors("blue-color");
}
.nav{
  display: none;
  @media (min-width:768px){
    display: flex;
  }
}
.nav-list {
  display: flex;
  gap: 55px;
}
.nav-list__link {
  font-family: getFonts("font-roboto");
  line-height: 1.62;
  font-weight: 500;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    border-radius: 2px;
    background-color: getColors("blue-color");
    position: absolute;
    top: 46px;
    left: 0;
    transition: width 500ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover {
    color: getColors("blue-color");
  }
  &:hover::after {
    width: 100%;
  }
  &--current {
    width: 0;
  }
  &--current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: getColors("blue-color");
    position: absolute;
    top:53px;
    left: 0;
    @media (min-width: 1200px){
      top: 46px;
    }
  }
}
.contacts-list {
  display: none;
  @media (min-width:768px){
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  @media (min-width:1200px){
    flex-direction: row;
    gap: 55px;
  }
  &__link {
    color: getColors("text-color");
    font-family: getFonts("font-roboto");
    @include text(14px, 500, normal, 0.02em, center);
    gap: 10px;
    @extend %flex-center;
  }
  &__link:hover &__svg {
    fill: getColors("blue-color");
  }
  &__svg {
    fill: getColors("text-color");
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}