.instruction > .container {
  padding: 94px 15px 0;
}
.instruction-list {
  column-gap: 30px;
  @extend %flex-center;
  &__item {
    display: block;
    @media (min-width: 768px) {
      max-width: 354px;
      text-align: left;
    }
    @media (min-width: 1200px) {
      max-width: 270px;
    }
  }
  &__title {
    margin: 30px 0 10px;
    color: getColors("title-color");
    font-family: getFonts("font-roboto");
    text-transform: uppercase;
    @include text(14px, 700, 1.71, 0.03em, center);
    @media (min-width: 768px) {
      text-align: left;
    }
  }
  &__text {
    color: getColors("text-color");
    @include text(14px, 400, 1.71, 0.03em, left);
  }
  &__item::before {
    content: "";
    display: block;
    background-color: getColors("box-color");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    height: 120px;
  }
  &__item:nth-child(1)::before {
    background-image: url("../img.webstudio/antenna.svg");
  }
  &__item:nth-child(2)::before {
    background-image: url("../img.webstudio/clock.svg");
  }
  &__item:nth-child(3)::before {
    background-image: url("../img.webstudio/diagram.svg");
  }
  &__item:nth-child(4)::before {
    background-image: url("../img.webstudio/astronaut.svg");
  }
}
