h2 {
  font-family: getFonts("font-roboto");
  font-weight: 700;
  color: getColors("title-color");
}
.mainstream {
  background-color: getColors("background-color");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
 rgba(47, 48, 58, 0.4)),url("../img.webstudio/overlay.jpg");
  @extend %background;
  width: 100%;
  height: 600px;
  padding: 200px 0;
  margin: 0 auto;
  &__caption {
    color: getColors("white-color");
    font-family: getFonts("font-roboto");
    @include text(44px, 900, 1.36, 0.06em, center);
    text-transform: uppercase;
    padding-bottom: 30px;
  }
  &__button {
    background-color: getColors("blue-color");
    color: getColors("white-color");
    width: 216px;
    height: 50px;
    font-family: getFonts("font-roboto");
    @include text(16px, 700, 1.87, 0.06px, center);
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px 0px getColors("shadow-back");
    cursor: pointer;
  }
}
