.occupation > .container {
  padding: 94px 15px;
}
.occupation{
  display: none;
  @media(min-width: 1200px){
    display: flex;
  }
}
.occupation__title {
  padding-bottom: 50px;
  font-size: 36px;
  @extend %flex-center;
}
.occupation-list {
  column-gap: 30px;
  @extend %flex-space-between;
}
.keystroke-box {
  position: relative;
  &__img {
    width: 370px;
    height: 294px;
    background-color: getColors("lightgray-color");
  }
  &__title {
    @extend %flex-center;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    color: getColors("white-color");
    background-color: getColors("background-keystroke");
    width: 370px;
    height: 70px;
  }
}
