.occupation > .container {
    padding: 94px 15px;
}
.occupation__title {
    padding-bottom: 50px;
    font-size: 36px;
    text-align: center;
 }
.occupation__list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: space-between;
}
.occupation__img {
    width: 370px;
    height: 294px;
    background-color: var(--lightgray-color);
}
.keystroke__box{
    position: relative;
}
.keystroke__title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    color: var(--white-color);
    background-color: rgb(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
}