.ourteam > .container{
    padding: 94px 15px;
}
.ourteam {
    font-size: 16px;
    background-color: var(--box-color);
}
.ourteam__list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: space-between;
}
.ourteam__box{
    display: block;
    flex-wrap: wrap;
    text-align: center;
    width: 270px;
    background-color: var(--white-color);
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.ourteam__title{
    font-size: 36px;  
    text-align: center;
    padding: 0 0 50px;
}
.ourteam__img{
    width: 270px;
    height: 260px;
    background-color: var(--lightgray-color);
}
.ourteam__name{
    color: var(--title-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    margin: 30px 0 10px 0;
}
.ourteam__text{
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    margin-bottom: 16px;
}
.ourteam__roster{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.ourteam__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}
.ourteam__link:hover{
    background-color: var(--blue-color);
    border-radius: 50%;
    transition: background-color 250ms var(--cubic-bezier);
}
.ourteam__svg{
    width: 20px;
    height: 20px;
    fill: var(--svg-color);
}
.ourteam__link:hover .ourteam__svg{
    fill: var(--white-color);
}