.ourteam {
    font-size: 16px;
    background-color: var(--box-color);
}
.ourteam-title{
    font-size: 36px;  
    text-align: center;
    padding: 0 0 50px;
}
.list-ourteam-box{
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    justify-content: space-between;
}
.ourteam > .container{
    padding: 94px 15px;
}
.ourteam-box{
    display: block;
    flex-wrap: wrap;
    text-align: center;
    width: 270px;
    background-color: var(--white-color);
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.title-ourteam{
    margin: 30px 0 10px 0;
}
.title-instruction, .title-ourteam{
    color: var(--title-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
}
.text-instruction, .text-ourteam{
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}
.text-ourteam{
    margin-bottom: 16px;
}
.ourteam-list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.ourteam-list__link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
}
.ourteam-list__link:hover{
    background-color: var(--blue-color);
    border-radius: 50%;
    transition: background-color 250ms var(--cubic-bezier);
}
.ourteam-list__svg{
    width: 20px;
    height: 20px;
    fill: var(--svg-color);
}
.ourteam-list__link:hover .ourteam-list__svg{
    fill: var(--white-color);
}