.ourteam {
  font-size: 16px;
  background-color: getColors("box-color");
  & > .container {
    padding: 94px 15px;
  }
  &__title {
    font-size: 36px;
    @extend %flex-center;
    padding: 0 0 50px;
  }
}
.ourteam-list {
  @extend %flex-space-between;
  column-gap: 30px;
  &__item {
    @extend %block-center;
    width: 270px;
    background-color: getColors("white-color");
    padding-bottom: 30px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14),
      0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  }
  &__img {
    width: 270px;
    height: 260px;
    background-color: getColors("lightgray-color");
  }
  &__name {
    color: getColors("title-color");
    font-family: getFonts("font-roboto");
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    margin: 30px 0 10px 0;
  }
  &__text {
    color: getColors("text-color");
    @include text(16px, 400, 1.71, 0.42px, center);
    margin-bottom: 16px;
  }
}
.networks-list {
  @extend %flex-center;
  gap: 10px;
  &__link {
    @extend %flex-center;
    width: 44px;
    height: 44px;
  }
  &__link:hover {
    background-color: getColors("blue-color");
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &__svg {
    width: 20px;
    height: 20px;
    fill: getColors("svg-color");
  }
  &__link:hover &__svg {
    fill: getColors("white-color");
  }
}
