:root{
    --blue-color:#2196F3;
    --black-color:black;
    --white-color:white;
    --title-color:#212121;
    --text-color:#757575;
    --background-color:#2F303A;
    --box-color: #F5F4FA;
    --lightgray-color: lightgray;
    --svg-color: #AFB1B8;
    --svg-footer: rgba(255, 255, 255, 0.1);
    --header-line: #ECECEC;
    --cubic-bezier:  cubic-bezier(0.4, 0, 0.2, 1);
    --shadow-back: rgba(0, 0, 0, 0.15);
}